body {
  background: white;
}
p {
  color: black;
  font-family: sans-serif

}
h1 {
  font-weight: bold;
  font-family: cursive;
  font-size: 34px;
  font-color: pink;
  }

 .overskrift {
  background-color: lightpink;
  padding: 25px;
  text-align: center;
  color: black;
}



.navigasjon {
  overflow: hidden;
  background-color: lightyellow;
}


.navigasjon a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navigasjon a:hover {
  background-color: lightyellow;
  color: black;
}



