body {
  background: white;
}
p {
  color: black;
  font-family: sans-serif

}
h1 {
  font-weight: bold;
  font-family: cursive;
  font-size: 34px;
  font-color: pink;
  }

 .header {
  background-color: pink;
  padding: 20px;
  text-align: center;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: pink;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: lightyellow;
  color: black;
}
